@model IEnumerable<sproject.Models.Inventory>

<p>
   <h4>Inventory Balance</h4>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product name
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invento_qty)
            </td>
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.inventory_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.inventory_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.inventory_id">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>