@model sproject.Models.CustomerOrder

<div>
    <h4>Customer Order Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerorder_date)
        </dd>
        <dt class = "col-sm-2">
            Product
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory.product_name)
        </dd>
        <dt class = "col-sm-2">
            Quantity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerorder_qty)
        </dd>
        <dt class = "col-sm-2">
            Customer name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerInfo.customer_name)
        </dd>
        <dt class = "col-sm-2">
            Warranty time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.warranty_time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.customerOrder_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>