@model IEnumerable<sproject.Models.CustomerOrder>

<h4>Customer Orders</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order id
            </th>
            <th>
                Date
            </th>
            <th>
                Quantity
            </th>
            <th>
                Product name
            </th>
            <th>
                Customer name
            </th>
            <th>
                Warranty time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerOrder_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerorder_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerorder_qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerInfo.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.warranty_time) days
            </td>
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.customerOrder_id">Edit</a> | -->
                <a asp-action="Details" asp-route-id="@item.customerOrder_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.customerOrder_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>