@model IEnumerable<sproject.Models.Warranty>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customerOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.problem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.claim_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerOrder.customerOrder_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.problem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.claim_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.warranty_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.warranty_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.warranty_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>