@model IEnumerable<sproject.Models.PurchaseOrder>
 

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.purchase_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchase_date)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.purchase_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchase_date)
            </td>
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.purchase_id">Edit</a> | -->
                <a asp-action="Details" asp-route-id="@item.purchase_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.purchase_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
