@model sproject.Models.Borrow
<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Partner name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supplierInfo.supplier_name)
        </dd>
        <dt class = "col-sm-2">
            Product name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productInfo.product_name)
        </dd>
        <dt class = "col-sm-2">
            Quantity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.borrow_qty)
        </dd>
        <dt class = "col-sm-2">
           Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.borrow_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.borrow_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
