@model IEnumerable<sproject.Models.Borrow>
<p>
    <h4>Borrowing List</h4>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Purchase id
            </th>
            <th>
                Partner name
            </th>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.purchase_id)
            </td>
            <td>
            <a asp-controller="SupplierInfo" asp-action="BDetails" asp-route-id="@item.supplier_id">
                    @Html.DisplayFor(modelItem => item.supplierInfo.supplier_name)
                </a>
            <td>
                @Html.DisplayFor(modelItem => item.productInfo.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.borrow_qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.borrow_date)
            </td>
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.borrow_id">Edit</a> | -->
                <!-- <a asp-action="Details" asp-route-id="@item.borrow_id">Details</a> | -->
                <a asp-action="Delete" asp-route-id="@item.borrow_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>