@model IEnumerable<sproject.Models.ProductInfo>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product name
                <!-- @Html.DisplayNameFor(model => model.product_name) -->
            </th>
            <th>
                Series
                <!-- @Html.DisplayNameFor(model => model.product_series) -->
            </th>
            <th>
                Size
                <!-- @Html.DisplayNameFor(model => model.product_size) -->
            </th>
            <th>
                Supplier name
                <!-- @Html.DisplayNameFor(model => model.supplierInfo) -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_size)
            </td>
            <td>
                <a asp-controller="SupplierInfo" asp-action="SDetails" asp-route-id="@item.supplier_id">
                    @Html.DisplayFor(modelItem => item.supplierInfo.supplier_name)
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.product_id">Edit</a> |
                <!-- <a asp-action="Details" asp-route-id="@item.product_id">Details</a> | -->
                <a asp-action="Delete" asp-route-id="@item.product_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

