@model IEnumerable<sproject.Models.InventoryIn>
    <h4>Receive Purchaseorder</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Purchase order id
                <!-- @Html.DisplayNameFor(model => model.purchaseorder) -->
            </th>
            <th>
                Product name
                <!-- @Html.DisplayNameFor(model => model.productinfo) -->
            </th>
            <th>
                Quantity
                <!-- @Html.DisplayNameFor(model => model.inventoryin_qty) -->
            </th>
            <!-- <th>
                Manufacturing week
            </th>
            <th>
                Manufacturing year
            </th> -->
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseorder.purchase_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productinfo.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventoryin_qty)
            </td>
            <!-- <td>
                @Html.DisplayFor(modelItem => item.manufacturer_week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufacturer_year)
            </td> -->
                       
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.inventoryin_id">Edit</a> | -->
                <a asp-controller="InventoryIn" asp-action="IDetail" asp-route-id="@item.purchaseorder.purchase_id"> Details</a>
                <!-- <a asp-action="Details" asp-route-id="@item.inventoryin_id">Details</a> | -->
                <!-- <a asp-action="Delete" asp-route-id="@item.inventoryin_id">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>