@model IEnumerable<sproject.Models.SupplierInfo>
<h4>Supplier Informations</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Supplier name
                <!-- @Html.DisplayNameFor(model => model.supplier_name) -->
            </th>
            <th>
                Contact person
                <!-- @Html.DisplayNameFor(model => model.supplier_person) -->
            </th>
            <th>
                Phone number
                <!-- @Html.DisplayNameFor(model => model.supplier_phone) -->
            </th>
            <th>
                Address
                <!-- @Html.DisplayNameFor(model => model.supplier_address) -->
            </th>
            <th>
                Type
                <!-- @Html.DisplayNameFor(model => model.supplier_type.supplier_type_name) -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.supplier_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier_person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier_type.supplier_type_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.supplier_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.supplier_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.supplier_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>